/* styles.css */
.main-layout {
    display: flex;
    flex-direction: column;
  }
  
  .content-area {
    display: flex;
  }
  
  main {
    width: 50%; /* Adjust the width based on sidebar */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tree-image {
    width: 200px;
    height: auto;
    position: relative;
  }
  
/* Navigation bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This separates the logo and the links */
    padding: 1rem;
    background-color: transparent; /* Remove the background color */
  }
  
  /* Styling for the 'Elliot Waxman' link */
  nav .home-link {
    text-decoration: none;
    color: #333; /* Dark grey text */
    font-weight: bold;
  }
  
  /* Container for the rest of the navigation links */
  .nav-links {
    display: flex;
    justify-content: center; /* Center the navigation links */
    flex-grow: 1; /* Allows the container to take up available space */
  }
  
  /* Navigation link styling */
  .nav-links a {
    text-decoration: none;
    color: #333; /* Dark grey text */
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  /* Hover and active state styling */
  .nav-links a:hover,
  .nav-links a.active {
    color: #007bff; /* Blue text for active/hover state */
    background-color: transparent;
  }
