/* styles.css */
.main-layout {
    display: flex;
    flex-direction: column;
  }
  
  .content-area {
    display: flex;
  }
  
  main {
    width: 50%; /* Adjust the width based on sidebar */
    display: flex;
    justify-content: start;
    margin-left: 20%;
    align-items: center;
  }

  .tree-image {
    width: 200px;
    height: auto;
    position: relative;
  }
  

  aside {
    font-size: 1.2rem; /* Larger text */
    margin-left: 10%;
    color: #666; /* Grayer text */
    line-height: 1.6; /* Improved readability */
    max-width: 100%; /* Maximum width of the sidebar content */
  }
  
  /* If you have headings in your sidebar, you may want to style them too */
  aside h1, aside h2, aside h3 {
    color: #333; /* Darker color for headings */
    margin-top: 1rem;
  }
  
  /* For links in the sidebar, you may want to add some styling as well */
  aside a {
    color: #007bff; /* Standard link color */
    text-decoration: none; /* Removes underline from links */
  }
  
  aside a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
  }
  
  /* You can also style paragraphs if needed */
  aside p {
    margin-bottom: 1rem; /* Space between paragraphs */
  }
  
/* Navigation bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This separates the logo and the links */
    padding: 1rem;
    background-color: transparent; /* Remove the background color */
  }
  
  /* Styling for the 'Elliot Waxman' link */
  nav .home-link {
    text-decoration: none;
    color: #333; /* Dark grey text */
    font-weight: bold;
  }
  
  /* Container for the rest of the navigation links */
  .nav-links {
    display: flex;
    justify-content: center; /* Center the navigation links */
    flex-grow: 1; /* Allows the container to take up available space */
  }
  
  /* Navigation link styling */
  .nav-links a {
    text-decoration: none;
    color: #333; /* Dark grey text */
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  /* Hover and active state styling */
  .nav-links a:hover,
  .nav-links a.active {
    color: #007bff; /* Blue text for active/hover state */
    background-color: transparent;
  }
